{% extends "test.html" %}
{% block content %}

{% if messages %}
{% if "success" in messages %}
{% for msg in messages["success"] %}
<div class="row justify-content-md-center">
    <div class="col-md-10">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <div><i class="bi-emoji-smile-fill" style="padding-right:5px;"></i> {{ msg }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    </div>
</div>
{% endfor %}
{% endif %}

{% if "error" in messages %}
{% for msg in messages["error"] %}
<div class="row justify-content-md-center">
    <div class="col-md-10">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <div><i class="bi-x-octagon-fill" style="padding-right:5px;"></i> {{ msg }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    </div>
</div>
{% endfor %}
{% endif %}

{% if "warn" in messages %}
{% for msg in messages["warn"] %}
<div class="row justify-content-md-center">
    <div class="col-md-10">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <div><i class="bi-exclamation-triangle-fill" style="padding-right:5px;"></i> {{ msg }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    </div>
</div>
{% endfor %}
{% endif %}

{% if "info" in messages %}
{% for msg in messages["info"] %}
<div class="row justify-content-md-center">
    <div class="col-md-10">
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <div><i class="bi-info-circle-fill" style="padding-right:5px;"></i> {{ msg }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endif %}

<div class="row" style="padding-bottom:5px; padding-top:20px;">
    <form method="post">
        {% for header, details in row.items() %}
        <div class="row g-3 align-items-center" style="padding-top: 3px;">
          <div class="col-md-3">
            <b>{{ header }}</b>
            {% if "description" in details %}
            <button class="btn" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ details['description'] }}"><i class="bi-question-circle"></i></button>
            {% endif %}
          </div>
          {% if header == "row_number" %}
          <div class="col-md-9">
              <input class="form-control" type="text" value="{{ details['value'] }}" readonly>
          </div>
          {% else %}
          <div class="col-md-9">
            {% if "value" in details %}
              {% if "valid" in details and details["valid"] %}
              <input type="text" name="{{ header }}" class="form-control is-valid" value="{{ details['value'] }}">
                {% if details["message"] %}
                <div class="valid-feedback">{{ details["message"] }}</div>
                {% endif %}
              {% elif "valid" in details %}
              <input type="text" name="{{ header }}" class="form-control is-invalid" value="{{ details['value'] }}">
                {% if details["message"] %}
                <div class="invalid-feedback">{{ details["message"] }}</div>
                {% endif %}
              {% else %}
              <input type="text" name="{{ header }}" class="form-control" value="{{ details['value'] }}">
              {% endif %}
            {% else %}
            <input type="text" name="{{ header }}" class="form-control">
            {% endif %}
          </div>
        {% endif %}
        </div>
        {% endfor %}
        <div class="row" style="padding-top: 10px;">
            <div class="col-auto"><button type="submit" name="action" value="validate" class="btn btn-large btn-outline-primary">Validate</button></div>
            {% if status and status == "valid" %}
            <div class="col-auto"><button type="submit" name="action" value="submit" class="btn btn-large btn-outline-success">Submit</button></div>
            {% elif status and status == "invalid" %}
            <div class="col-auto"><button type="submit" name="action" value="submit" class="btn btn-large btn-outline-danger">Submit</button></div>
            {% else %}
            <div class="col-auto"><button type="submit" name="action" value="submit" class="btn btn-large btn-outline-secondary">Submit</button></div>
            {% endif %}
        </div>
    </form>
</div>

{% endblock %}