<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand">CMI-PB Terminology</a>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Tables
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						{% for t in tables %}
            			<li><a class="dropdown-item" href="{{ url_for('table', table_name=t) }}">{{ t }}</a></li>
						{% endfor %}
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<div id="cmi-pb" class="container">
		{% if show_search %}
		<div class="row">
			<form class="form-row mt-2 mb-2" method="get">
				<input id="statements-typeahead" name="text" class="typeahead form-control" type="text" value="" placeholder="Search"/>
			</form>
		</div>
		{% endif %}
		<div class="row" style="padding-top:10px;">
			{% if title %}
			<div class="row">
				<h2>{{ title|safe }}</h2>
			</div>
			{% endif %}
			{{ html|safe }}
			{% block content %}
            {% endblock %}
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
<script>
	// Init headers
	var headers = [];
	{% for h in headers %}
	headers.push('{{ h }}');
	{% endfor %}

	function condense(level, msg, rowNum, cellNum) {
		// document.getElementById(`expandedRow${rowNum}`).remove();
		var value = document.getElementById(`value${rowNum}-${cellNum}`);
		value.innerText = value.innerText.replace(`\n${msg}`, "");

		// Add tooltip
		var td = document.getElementById(`td${rowNum}-${cellNum}`);
		td.setAttribute("data-bs-toggle", "tooltip");
		td.setAttribute("data-bs-placement", "bottom");
		td.setAttribute("data-bs-original-title", msg);
		td.setAttribute("title", msg);

		// Update btn
		var btn = document.getElementById(`expand${rowNum}-${cellNum}`);
		btn.href = `javascript:expand('${level}', '${msg}', ${rowNum}, ${cellNum})`;
		btn.innerHTML = '<i class="bi-plus"></i>';
	}

	function expand(level, msg, rowNum, cellNum) {
		// var row = document.getElementById(`row${rowNum}`);
		// var newHtml = `<tr id="expandedRow${rowNum}">`;
		// for (i=0; i < cellNum; i++) {
		//	newHtml += "<td></td>";
		// }
		// newHtml += `<td class="bg-${level}">${msg}</td>`
		// row.insertAdjacentHTML('afterend', newHtml);

		var value = document.getElementById(`value${rowNum}-${cellNum}`);
		value.innerHTML = value.innerText + `<br><small class="fst-italic">${msg}</small>`;

		// Remove tooltip
		var td = document.getElementById(`td${rowNum}-${cellNum}`);
		var tooltipID = td.getAttribute("aria-describedby");
		td.removeAttribute("data-bs-toggle");
		td.removeAttribute("data-bs-placement");
		td.removeAttribute("data-bs-original-title");
		td.removeAttribute("title");
		td.removeAttribute("aria-describedby");
		var tt = document.getElementById(tooltipID);
		if (tt !== null) {
			tt.remove();
		}

		// Update btn
		var btn = document.getElementById(`expand${rowNum}-${cellNum}`);
		btn.href = `javascript:condense('${level}', '${msg}', ${rowNum}, ${cellNum})`;
		btn.innerHTML = '<i class="bi-dash"></i>';
	}

	function reset() {
		var url = window.location.href.split('?')[0];
		window.location.href = url;
	}

	function sort(col, desc) {
		// Get current parameters
		var qString = window.location.search;
		var params = new URLSearchParams(qString);
		var newParams = [];
		var newOrder = [];
		// Add all current params to new params, only add order keys that are not col
		for (var entry of params.entries()) {
			if (entry[0] !== "order") {
				newParams.push(`${entry[0]}=${entry[1]}`);
			} else {
				for (var ord of entry[1].split(",")) {
					if (!ord.startsWith(col + ".") && ord !== col) {
						newOrder.push(ord);
					}
				}
			}
		}
		// Add this col to the order
		if (desc) {
			newOrder.push(col + ".desc");
		} else {
			newOrder.push(col);
		}
		// Redirect to new URL
		newParams.push("order=" + newOrder.join(","));
		if (newParams.length > 0) {
			window.location.href = "?" + newParams.join("&");
		}
	}

	function submitForm(headers, hidden) {
		var args = []
		headers = headers.filter(e => e !== "rowid");
		// Get the where options
		for (var h of headers) {
			var operator = document.getElementById(h + 'Operator').value;
			var constraint = document.getElementById(h + 'Constraint').value;
			if (operator && constraint) {
				args.push(h + "=" + operator + "." + constraint);
			}
		}

		// Get any hidden args
		for (var h of hidden) {
			var val = document.getElementById(h).value;
			args.push(h + "=" + val);
		}

		// Get the select options
		var n = document.getElementsByName('select[]');
		var s = [];
		for (i=0; i < (n.length); i++) {
			if (n[i].checked) {
				s.push(n[i].value);
			}
		}
		if (s.length > 0 && s.length < headers.length) {
			args.push("select=" + s.join(","));
		}

		// Get the violation filters
		var n = document.getElementsByName('violation[]');
		var v = [];
		for (i=0;i < (n.length); i++) {
			console.log(n[i].checked);
			if (n[i].checked) {
				v.push(n[i].value);
			}
		}
		if (v.length > 0) {
			args.push("violations=" + v.join(","));
		}

		// Get the limit option
		var l = document.getElementById("limitValue").value;
		args.push("limit=" + l);

		// Redirect to new URL
		if (args.length > 0) {
			window.location.href = "?" + args.join("&")
		}
	}

	function vertical(rowNum, offset) {
		var qString = window.location.search;
		var params = new URLSearchParams(qString);
		var newParams = [];
		for (var entry of params.entries()) {
			if (entry[0] === "limit" || entry[0] === "offset") {
				continue;
			} else {
				newParams.push(`${entry[0]}=${entry[1]}`);
			}
		}
		var newOS = rowNum + offset - 1;
		newParams.push(`offset=${newOS}`);
		newParams.push("limit=1");
		if (newParams.length > 0) {
			window.location.href = "?" + newParams.join("&");
		}
	}

	// Configure typeahead for Parent labels
	function configure_typeahead_form(node) {
		if (!node.id || !node.id.endsWith("-typeahead-form")) {
		  return;
		}
		table = node.id.split("-")[0];
		var bloodhound = new Bloodhound({
		  datumTokenizer: Bloodhound.tokenizers.obj.nonword('label'),
		  queryTokenizer: Bloodhound.tokenizers.nonword,
		  sorter: function(a, b) {
			return a.order - b.order;
		  },
		  remote: {
			url: `/${table}?text=%QUERY&format=json`,
			wildcard: '%QUERY',
			transform : function(response) {
			  return bloodhound.sorter(response);
			}
		  }
		});
		$(node).typeahead({
		  minLength: 0,
		  hint: false,
		  highlight: true
		}, {
		  name: table,
		  source: bloodhound,
		  display: function(item) {
			return item.label;
		  },
		  limit: 40
		});
		$(node).bind('click', function(e) {
		  $(node).select();
		});
	}

	function configure_typeahead(node) {
	  if (!node.id || !node.id.endsWith("-typeahead")) {
		return;
	  }
	  table = node.id.split("-")[0];
	  var bloodhound = new Bloodhound({
		datumTokenizer: Bloodhound.tokenizers.obj.nonword('short_label', 'label', 'synonym'),
		queryTokenizer: Bloodhound.tokenizers.nonword,
		sorter: function(a, b) {
		  return a.order - b.order;
		},
		remote: {
		  {% if search_param %} url: '?{{ search_param }}&text=%QUERY&format=json', {% else %} url: '?text=%QUERY&format=json', {% endif %}
		  wildcard: '%QUERY',
		  transform : function(response) {
			  return bloodhound.sorter(response);
		  }
		}
	  });
	  $(node).typeahead({
		minLength: 0,
		hint: false,
		highlight: true
	  }, {
		name: table,
		source: bloodhound,
		display: function(item) {
		  if (item.label && item.short_label && item.synonym) {
			return item.short_label + ' - ' + item.label + ' - ' + item.synonym;
		  } else if (item.label && item.short_label) {
			return item.short_label + ' - ' + item.label;
		  } else if (item.label && item.synonym) {
			return item.label + ' - ' + item.synonym;
		  } else if (item.short_label && item.synonym) {
			return item.short_label + ' - ' + item.synonym;
		  } else if (item.short_label && !item.label) {
			return item.short_label;
		  } else {
			return item.label;
		  }
		},
		limit: 40
	  });
	  $(node).bind('click', function(e) {
		$(node).select();
	  });
	  $(node).bind('typeahead:select', function(ev, suggestion) {
		$(node).prev().val(suggestion.id);
		go(table, suggestion.id);
	  });
	}
	$('.typeahead').each(function() { configure_typeahead(this); });

	function go(table, value) {
	  q = {}
	  table = table.replace('_all', '');
	  q[table] = value
	  window.location = query(q);
	}

	function query(obj) {
	  var str = [];
	  for (var p in obj)
		if (obj.hasOwnProperty(p)) {
		  str.push("/{{ base_path }}/" + encodeURIComponent(obj[p]) + "");
		}
	  return str.join("&");
	}

	// redirect to the sprocket table when clicking view all children
	function show_children() {
		var curURL = window.location.href;
		console.l
		var tableURL = curURL.substr(0, curURL.lastIndexOf("/"));
		var termId = curURL.substr(curURL.lastIndexOf("/") + 1);
		if (termId.includes("?")) {
			termId = termId.split("?")[0];
		}
		var url = new URL(tableURL);
		url.searchParams.append("subClassOf", termId);
		window.location = url;
	}

	function addBtns() {
		var includeEdit = true;
		var includeNew = false;
		var ele = document.getElementById("sqlTableVertical");
		if (ele === null) {
			ele = document.getElementById("sqlTableHorizontal");
			if (ele === null) {
				ele = document.getElementById("gizmosTree");
				if (ele === null) {
					// Not correct view
					return;
				}
				// Include both edit & new buttons
				includeNew = true;
			} else {
				// Multiple rows, include only 'new' button
				includeEdit = false;
				includeNew = true;
			}
		}

		// Create footer to hold new button
		var footer = document.createElement("footer");
		footer.setAttribute("class", "footer mt-auto py-3 fixed-bottom");
		var container = document.createElement("div");
		footer.appendChild(container);

		if (includeNew) {
			var newURL = new URL(window.location.origin + '{{ url_for("table", table_name=table_name, view="form") }}');
			var newBtn = document.createElement("a");
			newBtn.setAttribute("data-bs-toggle", "tooltip");
			newBtn.setAttribute("data-bs-placement", "left");
			newBtn.setAttribute("href", newURL.toString());
			newBtn.setAttribute("class", "btn btn-primary btn-xl-plus");
			newBtn.setAttribute("title", "New");
			newBtn.innerHTML = '<i class="bi-plus"></i>';

			var newRow = document.createElement("div");
			newRow.setAttribute("class", "row justify-content-end");
			newRow.setAttribute("style", "padding-bottom: 5px; padding-right: 15px;");
			var newCol = document.createElement("div");
			newCol.setAttribute("class", "col-auto");
			newRow.appendChild(newCol);
			newCol.appendChild(newBtn);
			container.appendChild(newRow);
		}
		if (includeEdit) {
			// Get the URL and maybe remove current view
			var url = new URL(window.location);
			if (url.searchParams.get("view")) {
				url.searchParams.delete("view");
			}
			url.searchParams.append("view", "form");
			var editBtn = document.createElement("a");
			editBtn.setAttribute("data-bs-toggle", "tooltip");
			editBtn.setAttribute("data-bs-placement", "left");
			editBtn.setAttribute("href", url.toString());
			editBtn.setAttribute("class", "btn btn-primary btn-xl-pencil");
			editBtn.setAttribute("title", "Edit");
			editBtn.innerHTML = '<i class="bi-pencil"></i>';

			var editRow = document.createElement("div");
			editRow.setAttribute("class", "row justify-content-end");
			editRow.setAttribute("style", "padding-bottom: 5px; padding-right: 15px;");
			var editCol = document.createElement("div");
			editCol.setAttribute("class", "col-auto");
			editRow.appendChild(editCol);
			editCol.appendChild(editBtn);
			container.appendChild(editRow);
		}

		var container = document.getElementById("cmi-pb");
		container.parentElement.insertBefore(footer, container);
	}

	var deletes = document.getElementsByClassName("bi-x-circle");
	for (var i = 0; i < deletes.length; i++){
		deletes[i].onmouseenter = (function(delBtn) {
			return function() { delBtn.setAttribute("class", "bi-x-circle-fill"); }
		})(deletes[i]);
		deletes[i].onmouseleave = (function(delBtn) {
			return function() { delBtn.setAttribute("class", "bi-x-circle"); }
		})(deletes[i]);
	}

	// Add new/edit buttons
	addBtns();

	// Enable tooltips
	var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
	var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
	  return new bootstrap.Tooltip(tooltipTriggerEl)
	})
</script>
</html>